<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TicketingEntities" connectionString="metadata=res://*/DM.TicketModel.csdl|res://*/DM.TicketModel.ssdl|res://*/DM.TicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.50;initial catalog=AtlasDb;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProfileService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="PinPayProfile.WCF.ProfileService.ProfileService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.85:8080/ProfileService/ProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService" contract="WCFProfile.IProfileService" name="BasicHttpBinding_IProfileService" />
      <endpoint address="net.tcp://webapi-rtradd.ppdev.local/ProfileService/ProfileService.svc" binding="netTcpBinding" bindingConfiguration="PinPayProfile.WCF.ProfileService.ProfileService" contract="WCFProfile.IProfileService" name="PinPayProfile.WCF.ProfileService.ProfileService">
        <identity>
          <dns value="192.168.2.90" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PinPayObjects.Enumerators" publicKeyToken="1722aaba48ad093e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>